@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-display: swap;
  src: local('OpenSans-Regular'), url(./Lato-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-display: swap;
  src: local('OpenSans-Bold'), url(./Lato-Bold.ttf) format('opentype');
}